@import "tailwindcss";

:root {
  --background: #f7f8fa;
  --foreground: #171717;

  --color-ambiental: #009e51;
  --color-desarrollo: #f88f03;
  --color-derechos: #2e5090;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}